{% extends "base.html" %}
{% block content %}
<div class="content-section">
    {% if user.is_authenticated %}
    <h3>Zmiana hasła</h3>
    <div class="form-group">
        <form method="POST" action="{% url 'change-password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-info" type="submit">
                Zmień hasło
            </button>
        </form>
    </div>
    {% else %}
    <h3>Jesteś niezalogowany </h3>
    <a href="{% url 'login' %}">Zaloguj</a>
    <a href="{% url 'register' %}">Zarejestruj</a>
    {% endif %}
</div>
{% endblock content %}
