{% extends 'base.html' %}
{% block title %} Moje notatki {% endblock%}
{% block content %}
    <h2>Lista notatek</h2>
    {% for note in page_obj %}
        <article>
            <h3> {{ note.title }}</h3>
            <p> {{ note.content }}</p>
        </article>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number
            }}">poprzednia</a>
            {% endif %}
            <span class="current">
            Strona {{ page_obj.number }} z {{
            page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia
            &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}