<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zadanie 2</title>
</head>
<body>
    <h1>kalkulator mnożenia</h1>

    <form method="post">
        {% csrf_token %}
        <input type="number" name="a" placeholder="a" required value="{{ a|default_if_none:'' }}">
        <input type="number" name="b" placeholder="b" required value="{{ b|default_if_none:'' }}">
        <button type="submit">Wykonaj</button>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if task_id %}
        <section>
            <div>Wynik: <strong>{{ result }}</strong></div>
            <div>id: {{ id }}</div>
        </section>
    {% endif %}
</body>
</html>