{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
<meta charset="UTF-8">
<title>Najnowsze posty</title>
<link rel="stylesheet" href="{% static 'article/style.css' %}"/>
</head>

<body>
    <form method="get">
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Wyślij</button>
    </form>

    <h1>Najnowsze posty</h1>
    <ul>
        {%for post in posts %}
        <li>
            <h3>{{ post.title}}</h3>
            <p> Autor: {{ post.author}}</p>
            <p> {{ post.content}}</p>
            <p> Data publikacji: {{ post.published_date}}</p>

        </li>
        {% endfor %}
        
    </ul>
    <img id=""src="{% static 'article/obrazek.png' %}"
</body>

</html>