{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Widok kategorii</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% if object_category %}
    <h1>Nazwa kategorii ID {{ object_category.id }}: {{ object_category.name }}</h1>
    {% if objects %}
    <p>Lista artykułów:</p>
    {% for article in objects %}
    {% if article.is_new %}<p>NOWOŚĆ!</p>{% endif %}
    <p>*<b> {{ article.title }}</b></p>
    <p>Opublikowano: {{ article.pub_date }} </p>
    <br><br>
    {% endfor %}
    {% else %}
    <p>Kategoria nie zawiera artykułów</p>
    {% endif %}

    {% else %}
    <p>Kategoria nie istnieje.</p>
    {% endif %}
</body>

</html>