# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info
dist/
build/

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
# lokalne ustawienia (np. secret key)
*.env
.env

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Pycharm
.idea/
*.iml

# Test / coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
.pytest_cache/